body{
    background-image: linear-gradient(rgb(22, 22, 22), rgb(98, 94, 94));
    background-repeat: no-repeat;
    text-align: center;
    /* padding-top: 1.5vh;  */
    min-height: 100vh;
}

.app-title{
    color:antiquewhite;
    font-size: 3rem;
    margin: 2rem auto 3rem;
}